<h1>Random number</h1>
<form action="/random/results">
  <label for="giraffe">Minimum</label>
  <input id="giraffe" type="text" name="mini">

  <label for="zebra">Maximum</label>
  <input id="zebra" type="text" name="maxi">


  <button>Pick random number</button>

</form>
