
<h1>Payment Results</h1>


<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= @apr %>
  </dd>

  <dt>
    N
  </dt>
  <dd>
    <%= @n %>
  </dd>

  <dt>
    PV
  </dt>
  <dd>
    <%= @pv %>
  </dd>


  <dt>
    Payment
  </dt>
  <dd>
    <%= @payment%>
  </dd>
</dl>


<a href="/payment/new">
  Calculate another payment
</a>
