<h1>Calculate the payment of a number</h1>
<form action="/payment/results">
  <label for="giraffe">APR</label>
  <input id="giraffe" type="text" name="apr" placeholder="E.g. 5.42">

  <label for="zebra">Number of years</label>
  <input id="zebra" type="text" name="n" placeholder="How many years to repay?">

  <label for="rabbit">Principal</label>
  <input id="rabbit" type="number" step="0.0001" name="pv" placeholder="How much principal?">

  <button>Calculate monthly payment</button>

</form>
