
<h1>Payment Results</h1>


<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= sprintf("%.2f%%", @apr) %>
  </dd>

  <dt>
    N
  </dt>
  <dd>
    <%= @n %>
  </dd>

  <dt>
    PV
  </dt>
  <dd>
    <%= sprintf("$%.2f", @pv) %>
  </dd>


  <dt>
    Payment
  </dt>
  <dd>
    <%= sprintf("$%.2f", @payment)%>
  </dd>
</dl>


<a href="/payment/new">
  Calculate another payment
</a>
